ul {
  padding-left: 0;
}

ul li {
  background-color: pink;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 100px;
  padding: 100px 0;
}

/* 짝수, 홀수 색상 구분하기 위해 */
li:nth-child(2n) {
  background-color: skyblue;
}
