.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 3px #000;
    z-index: 10;
}
.header__wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 60px;
    padding: 0 16px;
}