html,
body {
  height: 100%;
  margin: 0;
}
.wrap {
  height: 100%;
  min-width: 800px;
  text-align: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: lightgray;
}
.container {
  min-height: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.content {
  margin: 0 auto;
  height: 3200px;
  max-width: 1200px;
  background-color: lightpink;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: lightcyan;
}
